@{
    ViewData["Title"] = "Home Page";
}
<input type="hidden" id="hiddenid" />

<div id="product_list">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table comman-shadow">
                    <div class="card-body">

                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="page-title">Product List</h3>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <button class="btn btn-primary " onclick="Add()"><i class="fas fa-plus"></i> Add Product</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="dtProduct" class="table border-0 star-group table-hover table-center mb-0 datatable table-striped">
                                <thead class="group-thread">
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Product</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Created Date</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="display: none;margin-top:20%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" id="deletedid" />
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="swal2-cancel btn btn-danger ml-1" aria-label="" style="display: inline-block;" onclick="ConfirmedDelete()">Delete</button>
                <button type="button" class="swal2-confirm btn btn-primary" aria-label="" style="display: inline-block;" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="txtProductName" placeholder="Enter Product Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="txtDescription" class="form-label">Description</label>
                            <textarea rows="5" cols="5" class="form-control" placeholder="Enter Product Description" id="txtDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Price</label>
                            <input type="number" class="form-control" id="txtPrice" placeholder="Enter Product Price">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="Save()">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/product.js"></script>